/**
 * Overlays
 * ========
 * .rapit-overlay-highlighted: Currently highlighted string
 * .rapit-overlay-related: Related highlighted strings (or all)
 */
.rapit-overlay-highlighted,
.rapit-overlay-related {
    pointer-events: none;
    position: absolute;
    z-index: 99999;
}
.rapit-overlay-highlighted::before,
.rapit-overlay-related::before {
    border-radius: 3px;
    box-sizing: content-box;
    content: "";
    display: block;
    margin: -2px;
    min-height: 100%;
    min-width: 100%;
    padding: 2px;
}
.rapit-overlay-highlighted::before {
    background: rgba(255,0,0,.4);
}
.rapit-overlay-related::before {
    background: rgba(255,100,0,.4);
}

/**
 * Infobox
 * =======
 * .rapit-info: Infobox wrapper
 * .rapit-info[data-rapit-type="TYPE"]: Infobox color scheme; one of "red", "blue", "grey", "yellow"
 * .rapit-info-data: Infobox data wrapper
 * .rapit-info-status: Infobox status wrapper
 * .rapit-info-status[data-rapit-type="TYPE"]: Infobox status icon; one of "help", "warn", "fail", "wait", "conf", "ok"
 * .rapit-info-data-list: Infobox data list
 * .rapit-info-data-item: Infobox data list item
 * .rapit-info-data-item-label: Infobox data list item label
 * .rapit-info-data-item-value: Infobox data list item value
 * .rapit-info-data-param-list: Infobox data parameter list
 * .rapit-info-data-param-item: Infobox data parameter
 * .rapit-info-data-param-item-label: Infobox data parameter label
 * .rapit-info-data-param-item-value: Infobox data parameter value
 */
.rapit-info {
    cursor: move;
    padding: .5em;
    position: fixed;
    z-index: 999999;
    width: 40ex;
    overflow: hidden;
    height: auto !important;

    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.1em;

    background-image: linear-gradient(2deg, transparent 40%, #FFF);
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.6);
}
.rapit-info                           { color: #444444; border-color: #838383; background-color: #ECEAEA; }
.rapit-info[data-rapit-type="red"]    { color: #C25555; border-color: #CA5F5F; }
.rapit-info[data-rapit-type="blue"]   { color: #3B5FA3; border-color: #496DB0; }
.rapit-info[data-rapit-type="grey"]   { color: #888888; border-color: #999999; }
.rapit-info[data-rapit-type="yellow"] { color: #C29D28; border-color: #DFB634; }

.rapit-info-data-list,
.rapit-info-data-item,
.rapit-info-data-param-list,
.rapit-info-data-param-item {
    list-style: none;
}
.rapit-info-data-list,
.rapit-info-data-item,
.rapit-info-data-param-list,
.rapit-info-data-param-item,
.rapit-info-data-item-label,
.rapit-info-data-item-value,
.rapit-info-data-param-item-label,
.rapit-info-data-param-item-value {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
}
.rapit-info-data-item-label,
.rapit-info-data-item-value,
.rapit-info-data-param-item-label,
.rapit-info-data-param-item-value {
    float: left;
    margin: .4em 0;
}
.rapit-info-data-item,
.rapit-info-data-param-item {
    padding-left: 12ex;
    overflow: hidden;
}
.rapit-info-data-item-label,
.rapit-info-data-param-item-label {
    margin-left: -12ex;
    width: 12ex;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
}
.rapit-info-data-item-value,
.rapit-info-data-param-item-value {
    width: 100%;
    font-family: monospace;
    word-break: break-all;
    color: #444444;
}
.rapit-info-data-param-list {
    padding-top: .48em;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: inherit;
}
.rapit-info-status {
    font-size: 0.8em;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: inherit;
    padding-top: .6em;
    margin-top: .5em;
    clear: both;
    font-weight: bold;
    position: relative;
    padding-left: 3.5ex;
    min-height: 2.6em;
}
.rapit-info-status::before {
    font-family: "rapit-icons", monospace;
    display: block;
    font-size: 1.3em;
    font-weight: normal;
    position: absolute;
    left: .1em;
    line-height: 1.7ex;
}
.rapit-info-status[data-rapit-type="help"]::before { content: "h"; }
.rapit-info-status[data-rapit-type="warn"]::before { content: "w"; }
.rapit-info-status[data-rapit-type="wait"]::before { content: "t"; }
.rapit-info-status[data-rapit-type="conf"]::before { content: "c"; }
.rapit-info-status[data-rapit-type="fail"]::before { content: "0"; }
.rapit-info-status[data-rapit-type="ok"]::before   { content: "1"; }

.rapit-info-status[data-rapit-type="wait"]::before {
    -moz-animation: spin 3s infinite linear;
    -o-animation: spin 3s infinite linear;
    -webkit-animation: spin 3s infinite linear;
    animation: spin 3s infinite linear;
}

/**
 * Test page
 * =========
 * .rapit-test-output
 */
.rapit-test-output {
    background: #eee;
    padding: .5em;
}
