
.rapit-icon-cancel-circled:before { content: '\30'; } /* '0' */
.rapit-icon-ok-circled:before { content: '\31'; } /* '1' */
.rapit-icon-cog:before { content: '\63'; } /* 'c' */
.rapit-icon-help-circled:before { content: '\68'; } /* 'h' */
.rapit-icon-info-circled:before { content: '\69'; } /* 'i' */
.rapit-icon-off:before { content: '\70'; } /* 'p' */
.rapit-icon-search:before { content: '\73'; } /* 's' */
.rapit-icon-spinner:before { content: '\74'; } /* 't' */
.rapit-icon-attention:before { content: '\77'; } /* 'w' */