@font-face {
  font-family: 'rapit-icons';
  src: url('../font/rapit-icons.eot?41111668');
  src: url('../font/rapit-icons.eot?41111668#iefix') format('embedded-opentype'),
       url('../font/rapit-icons.woff?41111668') format('woff'),
       url('../font/rapit-icons.ttf?41111668') format('truetype'),
       url('../font/rapit-icons.svg?41111668#rapit-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rapit-icons';
    src: url('../font/rapit-icons.svg?41111668#rapit-icons') format('svg');
  }
}
*/
 
 [class^="rapit-icon-"]:before, [class*=" rapit-icon-"]:before {
  font-family: "rapit-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.rapit-icon-cancel-circled:before { content: '\30'; } /* '0' */
.rapit-icon-ok-circled:before { content: '\31'; } /* '1' */
.rapit-icon-cog:before { content: '\63'; } /* 'c' */
.rapit-icon-help-circled:before { content: '\68'; } /* 'h' */
.rapit-icon-info-circled:before { content: '\69'; } /* 'i' */
.rapit-icon-off:before { content: '\70'; } /* 'p' */
.rapit-icon-search:before { content: '\73'; } /* 's' */
.rapit-icon-spinner:before { content: '\74'; } /* 't' */
.rapit-icon-attention:before { content: '\77'; } /* 'w' */